.form {
	width: 90%;
	max-width: 60rem;
	margin: 2rem auto;

	.actions {
		display: flex;
		justify-content: flex-end;
		margin: 1rem 0;

		button {
			padding: 0.5rem 1.5rem;
			font-size: 1.25rem;
			background-color: brown;
			color: white;
			outline: none;
			border: none;
			border-radius: 0.375rem;

			&:hover,
			&:active {
				background-color: rgb(77, 21, 21);
			}
		}
	}
}
