.container {
	width: 100%;
	border-bottom: 1px solid saddlebrown;
}

.nav {
	display: flex;
	justify-content: flex-end;
	padding: 0.5rem 1rem;
	gap: 1rem;

	li {
		padding: 0.2rem 0.5rem;
		border-radius: 0.375rem;
		&.active {
			background-color: saddlebrown;
			color: white;
		}

		a {
			color: white;
		}
	}
}
